body {
  font: 10px sans-serif;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}  
.node-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}
.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}